<h1 class="site-title">KnightChaser's Music Curation List</h1>
<a href="https://github.com/KnightChaser/music" target="_blank"
   style="position:absolute; top:1rem; right:1rem;"
   aria-label="Music Repo on GitHub">
  <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
       alt="GitHub" width="32" height="32">
</a>
