---
layout: "base.njk"
---
{% include "header.njk" %}
{% include "count-container.njk" %}
{% include "search-bar.njk" %}
{% include "results-table.njk" %}
{% include "back-to-top.njk" %}

{# The new, clean way to include our JavaScript #}
<script src="assets/js/main.js" type="module"></script>